{% load static %}

<link rel="stylesheet" href="{% static 'polls/details.css' %}">

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <section class="radio-section">
        <div class="radio-list">
            <h1>{{ question.question_text }}</h1>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in question.choice_set.all %}
                <div class="radio-item">
                    <input name="choice" id="choice{{ forloop.counter }}" type="radio" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                </div>
            {% endfor %}
            <div class="button">
                <input type="submit" value="Vote" class="button__text submit">
            </div>
            <a href="{% url 'polls:index' %}" class="button">
                <span class="button__text">BACK</span>
            </a>
        </div>
    </section>
</form>

