{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<section>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}.</p>
    {% else %}
        <p>Welcome, new user. <a href="{% url 'admin:index' %}">Please log in.</a></p>
    {% endif %}
    <h1>Polls in progress</h1>
    <div class="list">
        {% if latest_question_list %}
            <ul>
            {% for question in latest_question_list %}
                <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </div>
</section>
